<mat-toolbar color="primary" id="toolbar">
  <div class="left">
    <span id="title">Angular 4 Mean Starter - </span><span id="author">by Giacomo Cerquone</span>
  </div>

  <button id="menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/create">
      <mat-icon>note_add</mat-icon>
      <span>Create Todo</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>view_headline</mat-icon>
      <span>Read Todos</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
